  <header id="header">
    <div id="branding">
      <a href="/" class="brand-link" title="Return to home page">
        <span class="brand-title">CSE Motors</span>
      </a>
    </div>
    <div id="account">
      <a href="/account/login" class="account-link">My Account</a>
    </div>
  </header>
  