<header id="header">
  <!-- Logo Section -->
  <div id="branding">
    <a href="/" class="brand-link" title="Return to home page">
      <span class="brand-title">CSE Motors</span>
    </a>
  </div>
  <div id="account">
    <!-- Dynamic Links Based on Login Status -->
    <% if (locals.loggedin) { %>
      <a href="/account/" class="header-link welcome-link">Welcome <%= locals.clientName || 'User' %></a>
      <a href="/account/favorites" class="header-link favorites-link">My Favorites</a>
      <a href="/account/logout" class="header-link logout-link">Logout</a>
    <% } else { %>
      <a href="/account/login" class="header-link login-link">My Account</a>
    <% } %>
  </div>
</header>