<%# Content Heading %>
<% if (title) { %>
    <h2 id="classificationHeading"><%= title %></h2>
    <% } else {
      res.redirect('/')
    } %>

<%# Message Block %>
<%# messages() %>

<%# Inventory Items Display %>
<%- grid %>