<%# Content Heading %>
<% if (title) { %>
    <h2 class="sub-heading"><%= title %></h2>
    <% } else {
      res.redirect('/')
    } %>

<%# Message Block %>
<%# messages() %>

<%# Inventory Items Display %>
<%- grid %>
<script src="/js/classification.js"></script>