<%# Content Heading %>
<% if (title) { %>
  <h2 id="errorHeading">Error <%= title %></h2>
  <% } else {
    res.redirect('/')
  } %>

  <img id="errorImg" src="/images/site/ErrorOops.jpg"></img>

<%# Message Block %>
<p id="errorMessage"><%- message %></p>